<h2>Create a new regression test</h2>

<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Test Name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Persona</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Eric</option>
      <option>Adam</option>
      <option>Isaac</option>
      <option>Deborah</option>
      <option>Sam</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Add Test</button>
</form>
