<h2>Create a new regression test</h2>

<%= form_with scope: :test, url: tests_path, local: true do |form| %>
  <div class="form-group">
    <label for="PriorityFormControl">Test Name</label>
    <input type="text" class="form-control" id="user_email" name="test[name]" >
  </div>
  <div class="form-group" id="PriorityFormControl" >
    <label for="exampleFormControlSelect1">Priority</label>
    <select class="form-control" id="exampleFormControlSelect1" name="test[priority]">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Persona</label>
    <select class="form-control" id="exampleFormControlSelect2" name="test[persona]">
      <option>Eric</option>
      <option>Adam</option>
      <option>Isaac</option>
      <option>Deborah</option>
      <option>Sam</option>
    </select>
  </div>
  <div class="form-group">
    <label for="DescriptionFormTextArea">Description</label>
    <textarea class="form-control" id="DescriptionFormTextArea" rows="3" name="test[description]"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add Test</button>
<% end %>
