
<p>
  <strong>Name: </strong>
  <%= @test.name %>
</p>

<p>
  <strong>Priority: </strong>
  <%= @test.priority %>
</p>
<p>
  <strong>Persona:</strong>
  <%= @test.persona %>
</p>


<p>
  <strong>Description: </strong>
  <%= auto_link(simple_format(@test.description)) %>
</p>
